.header, .subheader {
  font-family: 'Lobster', cursive;
}

.header {
  position: relative;
}

.subheader {
  font-size: 2.5rem;
}

.number {
  background-color: blue;
  color: white;
  border-radius: 50%;
  padding: 5px;
}